table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;

}

.name {
    display: center;
}
.info-container {
    display: flex;
    flex-direction: column
}
.subtitle{
    margin-top: 0px; /* Ajusta según tu preferencia */
    text-align: left; /* Alinea el texto a la izquierda */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle p{
    margin-bottom: 0;

}

.nombre{
    font-size: 18px;
    text-align: center;


;
    
}
th, td {
    border: 0px solid #f4eded;
    padding: 12px;
    text-align: center;
}

th {
    background-color:white
}

.col1{
    background-color: #000000;
    color: white;
    
}




